<div class="d-flex align-items-center">
    <div class="medi_detail_name medi_label_anaesthetika">esKETAmin</div>
    <span class="medi_detail_handelsnamen">Handelsnamen: Ketanest S®, Spravato®</span>
</div>
<hr>
<h2>Indikationen & Dosierungen</h2>
<span>Dosierungen für: {{patientsettings_summary}}.</span>
<div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="medis_show_all_values_checkbox">
    <label class="form-check-label" for="medis_show_all_values_checkbox">alle Dosierungen anzeigen</label>
</div>
<div class="small-light-box mt-3">Notfallanalgesie (Schmerzen)</div>
<div class="ps-3 pe-3">
    <span>i.V.: {{notfallanalgesie_iV}}</span><br>
    <span class="medis_extended_values hide"><!-- Source: Fachinformation Pfizer https://figi.pfizer.de/sites/default/files/FI-1435.pdf -->
            <hr>
            0,125 - 0,25 mg / kg KG<br><br>
    </span>
    <span>i.M.: {{notfallanalgesie_iM}}</span><br>
    <span class="medis_extended_values hide"><!-- Source: Fachinformation Pfizer https://figi.pfizer.de/sites/default/files/FI-1435.pdf -->
            <hr>
            0,25 - 0,5 mg / kg KG<br><br>
    </span>
</div>
<div class="small-light-box mt-3">Allgemeinanästhesie (Vollnarkose)</div>
<div class="ps-3 pe-3">
    <span>i.V.:</span><br>
    <span>Einleitung: {{allgemeinanaesthesie_iV_einleitung}}</span><br>
    <span>Aufrechterhaltung: alle 10 - 15 min halbe Initialdosis ({{allgemeinanaesthesie_iV_aufrechterhaltung}})</span><br><br>
    <span class="medis_extended_values hide"><!-- Source: Fachinformation Pfizer https://figi.pfizer.de/sites/default/files/FI-1435.pdf -->
            <hr>
            Einleitung: 0,5 - 1 mg / kg KG<br>
            Aufrechterhaltung: alle 10 - 15 min halbe Initialdosis (0,25 - 0,5 mg / kg KG)<br><br>
    </span>
    <span>i.M.:</span><br>
    <span>Einleitung: {{allgemeinanaesthesie_iM_einleitung}}</span><br>
    <span>Aufrechterhaltung: alle 10 - 15 min halbe Initialdosis ({{allgemeinanaesthesie_iM_aufrechterhaltung}})</span><br><br>
    <span class="medis_extended_values hide"><!-- Source: Fachinformation Pfizer https://figi.pfizer.de/sites/default/files/FI-1435.pdf -->
            <hr>
            Einleitung: 2 - 4 mg / kg KG<br>
            Aufrechterhaltung: alle 10 - 15 min halbe Initialdosis (1 - 2 mg / kg KG)<br><br>
    </span>
</div>
<hr>
<h2>Kontraindikationen</h2>
<span>Esketamin darf nicht angewendet werden:</span>
<ul class="medis_kontraindikationen">
    <li>Bei Überempfindlichkeit gegen den Wirkstoff oder einen der sonstigen Bestandteile</li>
    <li>Bei Patienten, für die ein erhöhter Blutdruck oder ein gesteigerter Hirndruck ein ernsthaftes Risiko darstellt</li>
    <li>Bei schlecht eingestelltem oder nicht behandeltem Bluthochdruck (arterielle Hypertonie – systolischer/diastolischer Blutdruck über 180/100 mmHg in Ruhe)</li>
    <li>Bei Eklampsie und Präeklampsie</li>
    <li>Bei nicht oder ungenügend behandelter Schilddrüsenüberfunktion (Hyperthyreose)</li>
    <li>In Situationen, die eine muskelentspannte Gebärmutter (Uterus) erfordern, z. B. drohendem Gebärmutterriss (Uterusruptur), Nabelschnurvorfall</li>
    <li>Wenn es als einziges Anästhetikum bei Patienten mit manifesten ischämischen Herzerkrankungen angewendet wird</li>
</ul>
<span>Esketamin darf nur mit besonderer Vorsicht angewendet werden:</span>
<ul class="medis_kontraindikationen">
        <li>Bei instabiler Angina pectoris oder Myokardinfarkt in den letzten 6 Monaten</li>
        <li>Bei Herzinsuffizienz</li>
        <li>Bei gesteigertem Hirndruck, außer unter angemessener Beatmung, und bei Verletzungen oder Erkrankungen des ZNS, da die Erhöhung des zerebrospinalen Drucks im Zusammenhang mit der Ketamin-Anästhesie beschrieben worden ist</li>
        <li>Bei Patienten mit schweren psychischen Störungen, auch in der Anamnese</li>
        <li>Bei erhöhtem Augeninnendruck (Glaukom) und perforierenden Augenverletzungen sowie in Verbindung mit Augenuntersuchungen oder augenchirurgischen Eingriffen, bei denen der Augeninnendruck nicht steigen darf</li>
        <li>Bei Eingriffen im Bereich der oberen Atemwege</li>
        <li>Bei Patienten unter chronischem oder akutem Alkoholeinfluss</li>
</ul>
<hr>
<h2>Wechselwirkungen</h2>
<hr>
<h2>Nebenwirkungen</h2>