{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <p class="mt-2">Normwerte für: {{> patient_summary this}}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="norm_show_all_values_checkbox">
        <label class="form-check-label" for="norm_show_all_values_checkbox">alle Normwerte anzeigen</label>
    </div>
    <div class="norm_values mt-4">
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>AF</span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Atemfrequenz</span><br>
                <span>
        {{#if patient_settings.patient.ChildPatient}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:NEWBORN' 'ChildAge:DAYS10'}}
                25 - 60 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:DAYS10' 'ChildAge:MONTHS2'}}
                36 - 42 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:MONTHS2' 'ChildAge:MONTHS6'}}
                24 - 34 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:MONTHS6' 'ChildAge:MONTHS12'}}
                23 - 29 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:MONTHS12' 'ChildAge:YEARS7'}}
                19 - 26 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:YEARS7' 'ChildAge:YEARS13'}}
                18 - 22 / min
            {{/comp}}
            {{#comp patient_settings.patient.ChildPatient.age '>=' 'ChildAge:YEARS13'}}
                16 - 20 / min
            {{/comp}}
        {{/if}}
                    {{#if patient_settings.patient.AdultPatient}}
                        12 - 16 / min
                    {{/if}}
      </span><br>
                <span class="norm_extended_values hide">
            <hr>
            Erwachsene: 12 - 16 / min<br>
            Neugeborene: 25 - 60 / min<br>
            ab 10 Tagen: 36 - 42 / min<br>
            ab 2 Monaten: 24 - 34 / min<br>
            ab 6 Monaten: 23 - 29 / min<br>
            ab 1 Jahr: 19 - 26 / min<br>
            ab 7 Jahren: 18 - 22 / min<br>
            ab 13 Jahren: 16 - 20 / min
      </span>
            </div>
        </div>
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>AZV</span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Atemzugvolumen</span><br>
                <span>
          {{#if patient_settings.patient.ChildPatient}}
              {{#if patient_settings.patient.ChildPatient.weight}}
                  {{calcnum patient_settings.patient.ChildPatient.weight "*" 6}} - {{calcnum
                      patient_settings.patient.ChildPatient.weight "*" 8}} ml
              {{else}}
                  Für Berechnung bitte Gewicht angeben.
              {{/if}}
          {{/if}}
                    {{#if patient_settings.patient.AdultPatient}}
                        {{#if patient_settings.patient.AdultPatient.weight}}
                            {{calcnum patient_settings.patient.AdultPatient.weight "*" 6}} - {{calcnum
                                patient_settings.patient.AdultPatient.weight "*" 8}} ml
                        {{else}}
                            Für Berechnung bitte Gewicht angeben.
                        {{/if}}
                    {{/if}}

      </span><br>
                <span class="norm_extended_values hide">
            <hr>
            6 - 8 ml / kg
      </span>
            </div>
        </div>
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>S<sub>p</sub>O<sub>2</sub></span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Sauerstoffsättigung (pulsoxymetrisch)</span><br>
                <span>95 - 99 %</span><br>
                <span class="norm_extended_values hide">
            <hr>
            95 - 99 %
      </span>
            </div>
        </div>
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>FRC</span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Funktionelle Residualkapazität</span><br>
                <span>
          {{#if patient_settings.patient.ChildPatient}}
              {{#if patient_settings.patient.ChildPatient.weight}}
                  {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:NEWBORN' 'ChildAge:YEARS4'}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 30}} ml
                  {{else}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 34}} ml
                  {{/comp}}
              {{else}}
                  Für Berechnung bitte Gewicht angeben.
              {{/if}}
          {{/if}}
                    {{#if patient_settings.patient.AdultPatient}}
                        {{#if patient_settings.patient.AdultPatient.weight}}
                            {{calcnum patient_settings.patient.AdultPatient.weight "*" 30}} ml
                        {{else}}
                            Für Berechnung bitte Gewicht angeben.
                        {{/if}}
                    {{/if}}
      </span><br>
                <span class="norm_extended_values hide">
            <hr>
            Erwachsene: 34 ml / kg<br>
            Kleinkind: 30 ml / kg<br>
      </span>
            </div>
        </div>
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>VK</span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Vitalkapazität</span><br>
                <span>
          {{#if patient_settings.patient.ChildPatient}}
              {{#if patient_settings.patient.ChildPatient.weight}}
                  {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:NEWBORN' 'ChildAge:YEARS4'}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 33}} - {{calcnum
                          patient_settings.patient.ChildPatient.weight "*" 40}} ml
                  {{else}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 52}} ml
                  {{/comp}}
              {{else}}
                  Für Berechnung bitte Gewicht angeben.
              {{/if}}
          {{/if}}
                    {{#if patient_settings.patient.AdultPatient}}
                        {{#if patient_settings.patient.AdultPatient.weight}}
                            {{calcnum patient_settings.patient.AdultPatient.weight "*" 52}} ml
                        {{else}}
                            Für Berechnung bitte Gewicht angeben.
                        {{/if}}
                    {{/if}}
      </span><br>
                <span class="norm_extended_values hide">
            <hr>
            Erwachsene: 52 ml / kg<br>
            Kleinkind: 33 - 40 ml / kg<br>
      </span>
            </div>
        </div>
        <div class="row norm_box">
            <div class="col col-3 col-lg-1 norm_box_title"><span>TK</span></div>
            <div class="col col-9 col-lg-11">
                <span class="norm_box_long_title">Totalkapazität</span><br>
                <span>
          {{#if patient_settings.patient.ChildPatient}}
              {{#if patient_settings.patient.ChildPatient.weight}}
                  {{#comp patient_settings.patient.ChildPatient.age 'between' 'ChildAge:NEWBORN' 'ChildAge:YEARS4'}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 63}} ml
                  {{else}}
                      {{calcnum patient_settings.patient.ChildPatient.weight "*" 86}} ml
                  {{/comp}}
              {{else}}
                  Für Berechnung bitte Gewicht angeben.
              {{/if}}
          {{/if}}
                    {{#if patient_settings.patient.AdultPatient}}
                        {{#if patient_settings.patient.AdultPatient.weight}}
                            {{calcnum patient_settings.patient.AdultPatient.weight "*" 63}} ml
                        {{else}}
                            Für Berechnung bitte Gewicht angeben.
                        {{/if}}
                    {{/if}}
      </span><br>
                <span class="norm_extended_values hide">
            <hr>
            Erwachsene: 86 ml / kg<br>
            Kleinkind: 63 ml / kg<br>
      </span>
            </div>
        </div>

    </div>
</div>